@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

#things {
    background-color: rgb(235, 235, 235);
    padding: 30px;
}

.things-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.things-container a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.things-container a:hover {
    color: rgb(5, 126, 5);
}

.busy {
    margin: 2.3em;
}

.things-container .busy img {
    height: 380px;
    width: 380px;
    border-radius: 10px;
}