@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Playfair+Display:ital,wght@1,600&family=Raleway:ital,wght@1,300&family=Roboto&display=swap");
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

header .navbar ul li {
  display: inline-block;
}

header .logo {
  font-weight: bold;
  font-size: 24px;
  font-family: 'Dancing Script', cursive;
  padding: 5px;
  letter-spacing: 1px;
  color: #18b32d;
  text-decoration: none;
}

header .navbar ul li a {
  font-size: 15px;
  padding: 20px;
  color: #333;
  display: block;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

header .navbar ul li a:hover {
  -webkit-text-decoration: underline #18b32d;
          text-decoration: underline #18b32d;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  text-underline-offset: 6px;
}

.us {
  background-color: rgba(2, 2, 2, 0.39);
  height: 100vh;
  position: relative;
}

header label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}

.us:before {
  content: '';
  background-image: url("imgs/ring.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.us .us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.us h1 {
  font-size: 100px;
  color: #fff;
  margin: 1em;
  font-family: 'Playfair Display', serif;
}

.us p {
  font-size: 50px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

#menu-bar {
  display: none;
}

.story-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.story-txt {
  text-align: center;
  margin-top: 10px;
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 2px;
}

.mainbg {
  background-image: url(imgs/sit-pose.jpg);
  height: 100vh;
  width: 80vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#story #txt {
  max-width: 80%;
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.8;
}

#story span {
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  color: #34db34;
}

.venue-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#venue {
  background-color: #dbdbdb;
  padding: 30px;
}

#venue h1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  margin-bottom: 30px;
}

.venue-area {
  margin: 0 80px;
}

.venue-area p {
  text-align: center;
  margin: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.venue-img {
  height: 150px;
  width: 150px;
  margin-top: 10px;
}

h1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

#things {
  background-color: #ebebeb;
  padding: 30px;
}

.things-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.things-container a {
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.things-container a:hover {
  color: #057e05;
}

.busy {
  margin: 2.3em;
}

.things-container .busy img {
  height: 380px;
  width: 380px;
  border-radius: 10px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.us:before {
  content: '';
  background-image: url("imgs/ring.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.us .us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.us h1 {
  font-size: 100px;
  color: #fff;
  margin: .7em;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 2px;
  text-align: center;
}

.us p {
  font-size: 50px;
  color: #fff;
  font-family: 'Dancing Script', cursive;
  margin: 10px;
}

#reserve h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
}

.hotel {
  width: 400px;
}

#reserve {
  padding: 2.5em;
}

.reserve-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reserve-area {
  margin: 3em;
}

.button {
  margin-top: 30px;
}

.reserve-area .button .book {
  background-color: #121111;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.reserve-area .button .book:hover {
  background-color: #555151;
  -webkit-transition: all ease-in .2s;
  transition: all ease-in .2s;
}

.reserve-area p,
h3 {
  margin: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.reserve-area a {
  text-decoration: none;
}

.reserve-area #ital {
  font-style: italic;
}

.reserve-area h3 {
  font-family: 'Raleway', sans-serif;
  color: #1639d3;
  font-weight: bold;
}

.rsvp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.rsvp .song {
  font-size: 100px;
}

#rsvp-form {
  background-color: white;
}

#rsvp-form h1,
#form-text {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  margin: 1.5em;
}

#gift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3em;
  background-color: #ebebeb;
}

.gift-reg {
  margin: 20px;
}

.gift-reg .present {
  width: 200px;
}

.gift-reg p {
  font-family: Arial, Helvetica, sans-serif;
}

.gift-reg a {
  text-decoration: none;
  font-family: 'Gentium Plus', serif;
  background-color: #383838;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.foot {
  background-color: #111111;
  padding: 3em;
  position: relative;
}

.foot h1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  color: #fff;
  margin: 40px;
}

.foot p {
  text-align: center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 991px) {
  header {
    padding: 20px;
  }
  header label {
    display: initial;
    color: #34db34;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }
  header .navbar ul li {
    width: 100%;
  }
  #menu-bar:checked ~ .navbar {
    display: initial;
  }
}

@media (max-width: 972px) {
  .us p {
    font-size: 30px;
  }
  .venue-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .us h1 {
    font-size: 70px;
  }
}

@media (max-width: 820px) {
  #story .kiss {
    display: none;
  }
}

@media (max-width: 500px) {
  .mainbg {
    height: 60vh;
    width: 40vh;
  }
}

@media (max-width: 390px) {
  .mainbg {
    height: 50vh;
    width: 30vh;
  }
}

@media (max-width: 700px) {
  .reserve-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .reserve-area {
    margin: 1em;
  }
}

@media (max-width: 425px) {
  .hotel {
    width: 300px;
  }
}

@media (max-width: 865px) {
  .rsvp {
    margin: 3em;
  }
}

@media (max-width: 1380px) {
  .things-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 445px) {
  .things-container .busy img {
    height: 280px;
    width: 280px;
  }
}
/*# sourceMappingURL=style.css.map */